git+https://github.com/mindwm/mindwm-sdk-python-ng.git@feat/new_events_model#egg=mindwm-sdk-python-ng
nats-py
python-decouple
aiofiles
dbus-next
pyte
textfsm
tabulate
pydantic
python-dateutil
urllib3
urwid
blessed
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-exporter-otlp-proto-grpc
fastapi
neontology
surrealdb
